body {
    background-image: url('imegen\ web.jpg');
    background-size: contain;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/*
header {
    background-color: #bd243b;
    color: white;
    text-align: center;
    
}
*/

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 600px;
    max-height: 800px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #dccaca;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/hero.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}


/* Nav */

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300px;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: rgb(253, 253, 253);
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 40px;
}


.nav__close {
    display: var(--show, none);
}
 
/* Hero container */

.hero__container {
    max-width: 800px;
    --padding-container: 0;
    display: grid;
    grid-auto-rows: max-content;
    align-content: center;
    gap: 1em;
    padding-bottom: 90px;
    text-align: center;
}

.hero__title {
    font-size: 7rem;
    padding: 8px;
}

.hero__paragraph {
    margin-bottom: 20px;
}

.cta {
    display: inline-block;
    background-color: #b70de2af;
    justify-self: center;
    color: #fff;
    text-decoration: none;
    padding: 13px 30px;
    border-radius: 32px;
}

.cta {
    position: relative;
    top: -15px;
}




.about {
    text-align: center;
}

.subtitle {
    color: var(--color-title);
    font-size: 5%;
    margin-bottom: 25px;
    padding: 40px;

}


.about__paragraph {
    line-height: 1.7;
}

.about__main {
    padding-top: 80px;
    display: grid;
    width: 90%;
    margin: 0 auto;
    gap: 1em;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit, minmax(260px, auto));
}
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}

.hero {
    width: 100%;
    height: 100vh;
    min-height: 400px;
    max-height: 600px;
    position: relative;
    display: grid;
    grid-template-rows: 100px 1fr;
    color: #fff;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(180deg, #0000008c 0%, #0000008c 100%), url('../images/hero.jpg');
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    z-index: -1;
}

.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 0;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: rgb(253, 253, 253);
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.filters {
    float: right;
}

.product-registration,
.product-list {
    width: 50%;
    margin: 1em auto;
    padding: 1em;
    background-color: #f9f9f9;
    border-radius: 5px;
}

.product-registration form,
.product-list ul {
    list-style: none;
    padding: 300;
    margin: 50;
    

}

.product-registration label,
.product-list h2 {
    display: block;
    margin-bottom: 0.5em;
}

.product-registration input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    box-sizing: border-box;
}

.product-registration button,
.product-list button {
    padding: 0.5em;
    background-color: #0999e7;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 1em;
}

.confirmation-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.827);
    text-align: center;
}

.confirmation-dialog button {
    margin: 0.5em;
    padding: 2em 1em;
    cursor: pointer;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans';
}
.contenido{
    max-width: 1200px;
    width: 100%;
    margin: 40px auto;
    display: flex;
}
.mostrador{
    width: 100%;
    transition: .5s ease;
}
.mostrador .fila{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
}

.mostrador .fila .item{
    max-width: 210px;
    padding: 30px;
    height: 250px;
    /*border: 2px solid red;*/
    text-align: center;
    margin: 0 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
}
.mostrador .fila .item:hover{
    background-color: #e6e6e6;
}
.mostrador .fila .item img{
    width: 100%;
    margin: 30px 0;
}
.mostrador .fila .item .descripcion{
    color: #e8e3e3;
    font-weight: bold;
}
.mostrador .fila .item .precio{
    color: #e906f5ca;
    font-weight: bold;
    font-size: 20px;
}
.seleccion{
    transition: .5s ease;
    opacity: 0;
    width: 0%;
    border: 1px solid #ccc;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}



.info{
    padding: 100px;
}
.info img{
    display: block;
    margin: 30px auto;
    width: 80%;
}


.info p{
    font-size: 13px;
    color: #707070;
    margin-bottom: 20px;
}
.info .precio{
    font-size: 35px;
    font-weight: bold;
    color: #f85151;
    margin-bottom: 10px;
    display: block;
}
.info .fila{
    display: flex;
    align-items: flex-end;
}
.info .fila label{
    display: block;
    margin-bottom: 30px;
}


